.search-widget {
	margin-top: 15vh;
	margin-bottom: 10vh;
}

#search-icon {
	padding-right: 10px;
}

.search-widget, .links {
	text-align: center;
}

.link {
	display: block;
}
html { 
  background: url(http://i.imgur.com/bpR8m7f.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
